<html>
<head>
<style>
input[type=text] {
    width: 25%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}
</style>
</head>
<body>
<p>Enter Your Query:</p>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
    <div>{{ field }}</div>
    </div>
{% endfor %}
    </br>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>